{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    table td {
        padding: 10px;
        text-align: center;
    }
</style>

<div class="example-wrapper">
    <a href="{{ path('app_generate_order') }}">Generate neew Order</a>
    <h1>Orders</h1>

    <table border="1" style="width: 100%">
        <tr>
            <th> Id </th>
            <th> Order Number </th>
        </tr>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.orderNumber }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
